footer
    a(href="https://goo.gl/maps/tzDc1qu8wNw", target="_blank")
        span.primary-color-text Capital Reforma
        br
        span.primary-color-text Avenida Paseo de la Reforma #250 Torre 1 Reforma #16, 
        br
        span.primary-color-text Piso 11 Col. Juárez, Delegación Cuauhtémoc, Ciudad de México. 

