<!DOCTYPE html>
<loading-screen [loading]="loading"></loading-screen>
<navbar></navbar>
<div class="section background-blockchain"></div>
<div class="section">
  <div class="container"><br><br>
    <div class="row text-center">
      <div><img src="assets/img/success.png" [@bounceInUp] width="120"></div>
    </div><br>
    <div class="row">
      <p class="primary-color-text text-center" [@bounceInUp]>Gracias por completar este paso, ahora estás más cerca de culminar la carrera, nos volveremos a comunicar contigo para informarte cuál es el siguiente paso.</p>
    </div>
  </div>
</div>