nav.navbar.navbar-light.bg-primary-color
  a.navbar-brand([routerLink]="['/']") 
    span R O C K T E C H
  .collapse.navbar-collapse
    ul.navbar-nav.mr-auto
    a.navbar-text.white-text([routerLink]="['/accede']")
      span Iniciar sesión

