
<nav class="navbar navbar-light bg-primary-color"><a class="navbar-brand" [routerLink]="['/']"> <span>R O C K T E C H</span></a>
  <div class="navbar-brand" style="margin-right:25px;"><a class="white-text" [routerLink]="['/accede']" *ngIf="!user" style="position:absolute; top:15px; right:15px;"><span>Iniciar sesión</span></a></div>
  <div class="navbar-brand" style="margin-right:25px;"><a class="white-text" (click)="logout()" *ngIf="user" style="position:absolute; top:15px; right:15px;"><span>Salir</span></a></div>
</nav>