doctype html
.row
    .col-xs-4.text-center 
        div.primary-color-text Etapa 1
        .base-primary([class.active]="activeStep>=0")
    .col-xs-4.text-center 
        div.primary-color-text Etapa 2
        .base-primary([class.active]="activeStep>=1")
    .col-xs-4.text-center 
        div.primary-color-text Etapa 3
        .base-primary([class.active]="activeStep>=2")
