<!DOCTYPE html>
<div class="row">
  <div class="col-xs-4 text-center"> 
    <div class="primary-color-text">Etapa 1</div>
    <div class="base-primary" [class.active]="activeStep&gt;=0"></div>
  </div>
  <div class="col-xs-4 text-center"> 
    <div class="primary-color-text">Etapa 2</div>
    <div class="base-primary" [class.active]="activeStep&gt;=1"></div>
  </div>
  <div class="col-xs-4 text-center"> 
    <div class="primary-color-text">Etapa 3</div>
    <div class="base-primary" [class.active]="activeStep&gt;=2"></div>
  </div>
</div>