<!DOCTYPE html>
<loading-screen [loading]="loading"></loading-screen>
<navbar></navbar>
<div class="section background-blockchain"></div>
<div class="section">
  <div class="container"><br>
    <div class="row text-center" *ngIf="activated" [@bounceInUp]="bounceInUp"><img src="assets/img/success.png" width="120">
      <div class="space"></div>
      <p class="primary-color-text">Hemos verificado tu cuenta. Nos pondremos en contacto contigo para informarte sobre el siguiente paso.</p>
      <div class="space"></div><a class="primary-link" [routerLink]="['/accede']">Iniciar sesión</a>
    </div>
    <div class="row text-center" *ngIf="invalidToken" [@bounceInUp]="bounceInUp"><img src="assets/img/error.png" width="120">
      <div class="space">       </div>
      <p class="primary-color-text">
        Nos has proporcionado un token inválido, es posible que no podamos validar tu cuenta de correo, por favor da click en el enlace enviado a tu correo, revisa tu bandeja de entrada. Si el problema persiste, por favor, ponte en contacto con nosotros escribiéndonos a management@rocktech.mx. Gracias.</p>
      <div class="space"></div><a class="primary-link" [routerLink]="['/']">Regresar</a>
    </div>
  </div>
</div>