.background {
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    z-index: 300000 !important;
    height: 100vh;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    width: 100vw;
    text-align: center;
    
}


  .video {
    position: absolute;
    margin: auto;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }