doctype html
.background(*ngIf="show", (click)="close()")
    iframe.video(width='840', height='473', src="https://www.youtube.com/embed/8qfRan438DQ?rel=0&autoplay=1", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)

