doctype html
loading-screen([loading]="loading")
navbar
.section.background-blockchain
.section
    .container
        br
        br
        .row.text-center
            div
                img(src="assets/img/success.png", [@bounceInUp]="bounceInUp", width="120")
        br
        .row
            p.primary-color-text.text-center( [@bounceInUp]="bounceInUp") Tu registro ha sido aceptado, se te ha envíado un correo para que actives tu cuenta, nos mantendremos en contacto para enviarte 
                | más adelante te comunicaremos si tu idea ha sido considerada para la siguiente ronda.            

        