<!DOCTYPE html>
<loading-screen [loading]="loading"></loading-screen>
<navbar></navbar>
<div class="section background-blockchain"></div>
<div class="section">
  <div class="container"><br><br>
    <div class="row text-center">
      <div><img src="assets/img/success.png" [@bounceInUp] width="120"></div>
    </div><br>
    <div class="row">
      <p class="primary-color-text text-center" [@bounceInUp]>Activa tu cuenta a través del correo que te enviamos y espera noticias pronto. </p>
      <p class="primary-color-text text-center" [@bounceInUp]>¡Arranca la carrera!</p>
    </div>
  </div>
</div>