<!DOCTYPE html>
<loading-screen [loading]="loading"></loading-screen>
<navbar></navbar>
<section>
  <div class="container">
    <form (submit)="form.valid &amp;&amp; submit($event)" #form="ngForm" id="ngForm"><br><br>
      <div class="row text-center"></div><br>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 form-container" style="padding:30px" *ngIf="!restored" [@fadeIn]="fadeIn">
          <div class="text-center"><img class="img-fluid" src="assets/img/brainrace.png" style="width:70%"></div>
          <h1 class="primary-color-text">Restablecer contraseña</h1>
          <p class="primary-color-text">Ingresa tu correo electrónico y define una nueva contraseña de acceso.</p>
          <div class="input-error">{{errorMessage}}</div>
          <label class="gotham-light bold primary-color-text" for="email">Correo electrónico</label>
          <div class="input-group col-xs-12">
            <input class="form-control" id="email" type="email" name="email" aria-label="email" [(ngModel)]="email" #emailInput="ngModel" required email>
            <label class="input-error" *ngIf="form.submitted &amp;&amp; emailInput.errors?.required">Este campo es obligatorio</label>
            <label class="input-error" *ngIf="form.submitted &amp;&amp; emailInput.errors?.email">Debes introducir un email válido</label>
          </div><br>
          <label class="gotham-light bold primary-color-text" for="password">Contraseña</label>
          <div class="input-group col-xs-12">
            <input class="form-control" id="password" type="password" name="password" aria-label="password" #passwordInput="ngModel" [(ngModel)]="password" required>
            <label class="input-error" *ngIf="form.submitted &amp;&amp; passwordInput.errors?.required">Este campo es obligatorio</label>
          </div><br>
          <label class="gotham-light bold primary-color-text" for="confirm_password">Confirmar contraseña</label>
          <div class="input-group col-xs-12">
            <input class="form-control" id="confirm_password" type="password" name="confirm_password" aria-label="confirm_password" [(ngModel)]="confirm_password" #confirmPasswordInput="ngModel" [equalTo]="passwordInput" required>
            <label class="input-error" *ngIf="form.submitted &amp;&amp; confirmPasswordInput.errors?.required">Este campo es obligatorio</label>
            <label class="input-error" *ngIf="form.submitted &amp;&amp; confirmPasswordInput.errors?.equalTo">Las contraseñas no coinciden</label>
          </div>
          <div class="space"></div>
          <button class="col-xs-12 btn btn-primary btn-large" type="submit">Enviar</button>
          <div class="space" style="margin-bottom:80px;"></div>
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-3 form-container" style="padding:30px" *ngIf="restored" [@fadeIn]="fadeIn">
          <div class="row text-center">
            <div><img src="assets/img/success.png" [@bounceInUp]="bounceInUp" width="120"></div>
          </div><br>
          <div class="row">
            <p class="primary-color-text text-center" [@bounceInUp]="bounceInUp">La contraseña ha sido actualizada con éxito. Ahora puedes iniciar sesión nuevamente.</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>