
<navbar></navbar>
<div class="section background-blockchain"></div>
<div class="section">
  <div class="container">
    <div class="row"><img class="banner-logo" src="./assets/img/brainrace.png"/>
      <p class="primary-color-text">If humans are to survive, we must merge with machines.</p>
      <p class="primary-color-text">
        Rocktech te invita a participar en Brain Race, la carrera del blockchain, para participar solo necesitas tener una gran idea que pueda ser implementada utilizando la tecnología blockchain. La carrera cuenta con tres etapas, en cada una de ellas iremos buscando las mejores ideas, y de las cuales saldrán tres ideas ganadoras que se llevarán un gran premio.</p>
      <h3 class="primary-color-text">¿Cómo participar?</h3>
      <ol>
        <li class="primary-color-text">Organiza a tu neurona y graba un video en el que nos expliques de manera breve en qué consiste tu idea.</li>
        <li class="primary-color-text">
           Sube tu video a cualquier plataforma digital y llena el formulario en <a class="accent-color-text" href="http://rocktech.mx/registro">rocktech.mx/registro </a>con información de tu idea.</li>
        <li class="primary-color-text">Espera para conocer los resultados, si pasas a las siguientes etapas te mantendremos informado.</li>
      </ol>
      <h3 class="primary-color-text">¿Cuándo?</h3>
      <p class="primary-color-text">
          La convocatoria está abierta desde este momento, el registro de tus ideas ya puede ser enviado, a partir de ese momento, las fechas importantes son:</p>
      <ol>
        <li class="primary-color-text"> 30 de agosto: Cierre de inscripción de ideas.</li>
        <li class="primary-color-text"> 12 de septiembre: Selección de finalistas.</li>
        <li class="primary-color-text"> 27 de septiembre: Final Pitch y entrega de premios.</li>
      </ol>
      <h3 class="primary-color-text">Premios</h3>
      <p class="primary-color-text">Los 3 primeros lugares se dividirán una bolsa de $300 mil pesos de inversión; recibiran además mentoría por parte del equipo de Rocktech para acelerar el fondeo y la implementación de sus ideas.</p><br/>
      <p class="text-center"><a class="primary-link" [routerLink]="['/registro']">Registro</a></p>
    </div>
    <div class="row">
      <h3 class="primary-color-text">Presentan:</h3>
      <div class="col-sm-12 col-md-4 text-center"><img src="assets/img/rocktech.png" height="100"/></div>
      <div class="col-sm-12 col-md-4 text-center"><img src="assets/img/dls.png" height="100"/></div>
      <div class="col-sm-12 col-md-4 text-center"><img src="assets/img/bloomberg.png" height="100"/></div>
    </div>
  </div>
</div>
<app-footer></app-footer>