navbar
.section.background-blockchain
.section
    .container
        .row
            img.banner-logo(src="./assets/img/brainrace.png")
            p.primary-color-text If humans are to survive, we must merge with machines.
            p.primary-color-text Rocktech te invita a participar en Brain Race, la carrera del blockchain, para participar solo necesitas tener una gran idea que pueda ser implementada utilizando la 
                | tecnología blockchain. La carrera cuenta con tres etapas, en cada una de ellas iremos buscando las mejores ideas, y de las cuales saldrán tres ideas ganadoras que se llevarán un gran premio.

            h3.primary-color-text ¿Cómo participar?
            ol
                li.primary-color-text Organiza a tu neurona y graba un video en el que nos expliques de manera breve en qué consiste tu idea.
                li.primary-color-text 
                    |Sube tu video a cualquier plataforma digital y llena el formulario en 
                    a.accent-color-text(href="http://rocktech.mx/registro") rocktech.mx/registro 
                    | con información de tu idea.
                li.primary-color-text Espera para conocer los resultados, si pasas a las siguientes etapas te mantendremos informado.
            
            h3.primary-color-text ¿Cuándo?
            p.primary-color-text 
                | La convocatoria está abierta desde este momento, el registro de tus ideas ya puede ser enviado, a partir de ese momento, las fechas importantes son:
            ol
                li.primary-color-text  30 de agosto: Cierre de inscripción de ideas.
                li.primary-color-text  12 de septiembre: Selección de finalistas.
                li.primary-color-text  27 de septiembre: Final Pitch y entrega de premios.

            h3.primary-color-text Premios
            p.primary-color-text Los 3 primeros lugares se dividirán una bolsa de $300 mil pesos de inversión; recibiran además mentoría por parte del equipo de Rocktech para acelerar el fondeo y la implementación de sus ideas.
            br
            p.text-center
                a.primary-link([routerLink]="['/registro']") Registro
        .row
            h3.primary-color-text Presentan:
            .col-sm-12.col-md-4.text-center
                img(src="assets/img/rocktech.png", height="100")
            .col-sm-12.col-md-4.text-center
                img(src="assets/img/dls.png", height="100")
            .col-sm-12.col-md-4.text-center
                img(src="assets/img/bloomberg.png", height="100")
            
app-footer