navbar
.section.background-blockchain
.section
    .container
        .row
            h1.text-center.primary-color-text Presenta tu idea
            p.primary-color-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt obcaecati ratione magnam, nihil, incidunt minus, eaque corrupti illum pariatur blanditiis deserunt! Neque perspiciatis accusamus sint libero reprehenderit optio recusandae soluta.
            p.primary-color-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minima natus molestias alias iure. Voluptatibus, minima provident id veniam similique tempore assumenda consequuntur tenetur harum asperiores natus quis vel libero.
            p.primary-color-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates fugit suscipit architecto porro nulla placeat officia. Inventore eius dicta minus cumque non necessitatibus, molestias vitae nemo, nostrum eligendi culpa! Iste.
            p.text-center
                img.img-fluid(src="assets/img/blockchain.jpg") 
            p.primary-color-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae adipisci exercitationem id magnam veniam unde cumque. Laboriosam, beatae, harum aut voluptates quod, eligendi et eius blanditiis suscipit cumque dolores possimus? 
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui praesentium maiores molestiae deleniti laboriosam quis iure iste provident, ex ipsam, cupiditate, rem nisi quisquam molestias suscipit animi doloremque nobis voluptates.
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui praesentium maiores molestiae deleniti laboriosam quis iure iste provident, ex ipsam, cupiditate, rem nisi quisquam molestias suscipit animi doloremque nobis voluptates.
            br
            br
            p.text-center
                a.primary-link([routerLink]="['/registro']") Registro
        .row
            h4.primary-color-text Presentan:
            .col-sm-12.col-md-4.text-center
                img(src="assets/img/rocktech.png", height="100")
            .col-sm-12.col-md-4.text-center
                img(src="assets/img/dls.png", height="100")
            .col-sm-12.col-md-4.text-center
                img(src="assets/img/bloomberg.png", height="100")
            
app-footer