doctype html
video-modal([show]="true")
navbar
.section.background-blockchain
.section
    .container([@fadeIn])
        br
        .row
            .text-center
                img.banner-logo(src="./assets/img/brainrace.png")
            .space
            p.primary-color-text 
                i.primary-color-text  "If humans are to survive, we must merge with machines."
            p.primary-color-text - Elon Musk
            p.primary-color-text Estamos en búsqueda de los mejores proyectos de blockchain. Prepárate para la primera edición de Brain Race, una carrera de ideas tecnológicas que utilicen códigos blockchain y que traigan beneficios a la sociedad.
            p.primary-color-text Esta carrera está dividida en tres etapas, registro, evaluación de tu idea y final pitch. En esta última, deberás tener un speech bien configurado en donde demuestres la capacidad, el alcance y la implementación de tu idea a un jurado.

            h3.primary-color-text ¿Cómo participar?
            ol
                li.primary-color-text Organiza a tu neurona y graba un video en el que nos expliques de manera breve en qué consiste tu idea.
                li.primary-color-text 
                    |Sube tu video a cualquier plataforma digital y llena el formulario en 
                    a.accent-color-text(href="http://rocktech.mx/registro") rocktech.mx/registro 
                    | con información de tu idea.
                li.primary-color-text Espera para conocer los resultados, si pasas a las siguientes etapas te mantendremos informado.
            
            h3.primary-color-text ¿Cuándo?
            p.primary-color-text 
                | La convocatoria se cierra el día 30 de Agosto, puedes enviar tu video de inscripción desde éste momento. Las fechas importantes son:
            ol
                li.primary-color-text  30 de agosto: Cierre de inscripción de ideas.
                li.primary-color-text  12 de septiembre: Selección de finalistas.
                li.primary-color-text  27 de septiembre: Final Pitch y entrega de premios.

            h3.primary-color-text Premios
            p.primary-color-text Los tres finalistas competirán por el premio de una bolsa de $300,000.ºº de inversión dividida según sus evaluaciones, el acompañamiento de Rocktech en una mentoría para el desarrollo de su código y la oportunidad de fondeo de su idea con DLS Venture Capital.

            br
            p.text-center
                a.primary-link([routerLink]="['/registro']") Registro
        .row
            h3.primary-color-text Presentan:
            .col-sm-12.col-md-4.text-center
                img(src="assets/img/rocktech.png", height="100")
            .col-sm-12.col-md-4.text-center
                img(src="assets/img/dls.png", height="100")
            .col-sm-12.col-md-4.text-center
                img(src="assets/img/bloomberg.png", height="100")
            
app-footer