<!DOCTYPE html>
<video-modal [show]="true"></video-modal>
<navbar></navbar>
<div class="section background-blockchain"></div>
<div class="section">
  <div class="container" [@fadeIn]><br>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center"><img class="banner-logo" src="./assets/img/brainrace.png"></div>
        <div class="space"></div>
        <p class="primary-color-text"> <i class="primary-color-text"> "If humans are to survive, we must merge with machines."</i></p>
        <p class="primary-color-text">- Elon Musk</p>
        <p class="primary-color-text">Estamos en búsqueda de los mejores proyectos de blockchain. Prepárate para la primera edición de Brain Race, una carrera de ideas tecnológicas que utilicen códigos blockchain y que traigan beneficios a la sociedad.</p>
        <p class="primary-color-text">Esta carrera está dividida en tres etapas, registro, evaluación de tu idea y final pitch. En esta última, deberás tener un speech bien configurado en donde demuestres la capacidad, el alcance y la implementación de tu idea a un jurado.</p>
        <h3 class="primary-color-text">¿Cómo participar?</h3>
        <ol>
          <li class="primary-color-text">Organiza a tu neurona y graba un video en el que nos expliques de manera breve en qué consiste tu idea.</li>
          <li class="primary-color-text">
             Sube tu video a cualquier plataforma digital y llena el formulario en <a class="accent-color-text" href="http://rocktech.mx/registro">rocktech.mx/registro </a>con información de tu idea.</li>
          <li class="primary-color-text">Espera para conocer los resultados, si pasas a las siguientes etapas te mantendremos informado.</li>
        </ol>
        <h3 class="primary-color-text">¿Cuándo?</h3>
        <p class="primary-color-text">
            La convocatoria se cierra el día 30 de Agosto, puedes enviar tu video de inscripción desde éste momento. Las fechas importantes son:</p>
        <ol>
          <li class="primary-color-text"> 30 de agosto: Cierre de inscripción de ideas.</li>
          <li class="primary-color-text"> 12 de septiembre: Selección de finalistas.</li>
          <li class="primary-color-text"> 27 de septiembre: Final Pitch y entrega de premios.</li>
        </ol>
        <h3 class="primary-color-text">Premios</h3>
        <p class="primary-color-text">Los tres finalistas competirán por el premio de una bolsa de $300,000.ºº de inversión dividida según sus evaluaciones, el acompañamiento de Rocktech en una mentoría para el desarrollo de su código y la oportunidad de fondeo de su idea con DLS Venture Capital.</p><br>
        <p class="text-center"><a class="primary-link" [routerLink]="['/registro']">Registro</a></p>
      </div>
    </div>
    <div class="row">
      <h3 class="primary-color-text">Presentan:</h3>
      <div class="col-sm-12 col-md-4 text-center"><img src="assets/img/rocktech.png" height="100"></div>
      <div class="col-sm-12 col-md-4 text-center"><img src="assets/img/dls.png" height="100"></div>
      <div class="col-sm-12 col-md-4 text-center"><img src="assets/img/bloomberg.png" height="100"></div>
    </div>
  </div>
</div>
<app-footer></app-footer>