/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Gotham Light';
    src: url('assets/fonts/Gotham-Light.otf')
}

@font-face {
    font-family: 'Brain Race';
    src: url('assets/fonts/nulshock.ttf')
}

html, body{
    height: 100% !important;
    margin:0;
    font-family: 'Gotham Light'
}

.brain-race-font {
    font-family: Brain Race;
}

.bg-primary-color {
    background-color:#002751!important;
}

.primary-color-text {
    color: #002751;
}

.accent-color-text {
    color: #2895B9;
}

.light {
    font-weight: 100;
}

.bold {
    font-weight: 700;
}

.general-container {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
}
.center-container * {
    text-align: center;
}

.gotham-light {
    font-family: 'Gotham Light'
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

* {
    color: white;
}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    min-width: 100%; 
    min-height: 100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.primary-link {
    border-radius: 5px;
    background: #002751;
    color:white;
    padding:15px;
    padding-left: 100px;
    padding-right: 100px;
    height: 54px;
    margin: 12px;
    border: none;
    transition: all 0.3s;
}

.primary-button {
    border-radius: 5px;
    background: #002751;
    color:white;
    padding:15px;
    height: 54px;
    margin: 12px;
    border: none;
    transition: all 0.3s;
}


.primary-link:hover, .primary-button:hover {
    background: #2895B9;
    color:white;
    text-decoration: none;
}

.btn-primary {
    background: #002751;
    transition: all 0.3s;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border:none;
}

.space {
    height: 20px;
}

.fa {
    color: #002751;
}

.btn-primary:hover {
    background: #2895B9;

}

.item-button {
    cursor: pointer;

}

.btn-large {
    padding: 15px;
}

.background-blockchain {
     /* The image used */
     background-image: url("assets/img/blockchain1.jpg");

     /* Set a specific height */
     min-height: 300px; 
 
     /* Create the parallax scrolling effect */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

.background-primary-color {
   background: #002751;
}

.background-white {
    background: white;
}

.form-container {
    padding-top:25px;
    border: #efefef 1px solid;
}

.navbar {
    border-radius: 0;
    margin:0;
    padding:0;
}

.btn-secondary.float-left, .btn-secondary.float-right {
    display: none;
}

.input-error {
    color: red;
}

.active[_ngcontent-c5] {
    border-bottom-color: #002751 !important;
}

a {
    cursor: pointer;
}

input, textarea {
    background: none !important;
    border-bottom-color: #002751 !important;
    border-width: 0 0 1px 0 !important;
    box-shadow: none !important;
    transition: all 3s;
}

input {
    height: 45px !important;    
}

input:focus, textarea:focus {
    border-bottom-color: #2895B9 !important;
}