
<navbar></navbar>
<section>
  <div class="container text-center"><br/>
    <h2 class="brain-race-font primary-color-text brain-race-text" style="margin:0; padding:0;">BRAIN RACE</h2><span class="primary-color-text">presenta:</span><br/>
    <h3 class="orbitron-medium primary-color-text" style="margin-bottom:0;padding-bottom:0;">BLOCKCHAIN</h3>
    <h1 class="orbitron-medium accent-color-text" style="margin-top:5px;">"Future of things" </h1>
    <iframe width="100%" height="430" src="https://api.rocktech.mx/evento" frameBorder="0"></iframe>
  </div>
  <!--
  #eventbrite-widget-container-49395261557
  script(src='https://www.eventbrite.com/static/widgets/eb_widgets.js')
  script(type='text/javascript').
      var exampleCallback = function() {
          console.log('Order complete!');
          };
          window.EBWidgets.createWidget({
          // Required
          widgetType: 'checkout',
          eventId: '49395261557',
          iframeContainerId: 'eventbrite-widget-container-49395261557',
          // Optional
          iframeContainerHeight: 425,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
          onOrderComplete: exampleCallback  // Method called when an order has successfully completed
      });
  -->
</section>