ul {
    margin:0;
    padding:0;
}

li {
    margin: 0;
    display: inline-block;
    padding: 0;
}

vg-player {
    height:100%;
    width: auto;
}

.links {
    margin-top:30px;
}

.links a{
    padding:15px;
}

a {
    color:white;
    text-decoration: none;
    cursor:pointer;
    transition: all 0.3s
}

a:hover {
    color:#92acff;
}