doctype html
nav.navbar.navbar-light(style="z-index:20000")
  a.navbar-brand([routerLink]="['/FOT']") 
    a.fot.orbitron-medium Future of Things
  .collapse.navbar-collapse
    ul.navbar-nav.mr-auto
    a.navbar-text.white-text([routerLink]="['/accede']", *ngIf="!user")
      span Iniciar sesión
    a.navbar-text.white-text((click)="logout()", *ngIf="user")
      span Salir

vg-player
    video#myVideo(autoplay, muted, loop)
        source(src='assets/video/blockchain.mp4', type='video/mp4')
        |         Your browser does not support HTML5 video.
.general-container([@fadeIn])
    .center-container
        h1.gotham-light R O C K T E C H
        .links 
            a.brainrace.brain-race-font([routerLink]="['/brain-race']") Brain Race
            //a([routerLink]="['/contacto']") Contacto

footer
    a(href="https://goo.gl/maps/tzDc1qu8wNw", target="_blank")
        span.white-text Capital Reforma
        br
        span.white-text Avenida Paseo de la Reforma #250 Torre 1 Reforma #16, lPiso 11 Col. Juárez, Delegación Cuauhtémoc, Ciudad de México. 

