<!DOCTYPE html>
<vg-player>
  <video id="myVideo" autoplay muted loop>
    <source src="assets/video/blockchain.mp4" type="video/mp4">        Your browser does not support HTML5 video.
  </video>
</vg-player>
<div class="general-container" [@fadeIn]>
  <div class="center-container">
    <h1 class="gotham-light">R O C K T E C H</h1>
    <div class="links"> <a class="brainrace brain-race-font" [routerLink]="['/brain-race']">Brain Race</a>
      <!--a([routerLink]="['/contacto']") Contacto-->
    </div>
  </div>
</div>
<footer><a href="https://goo.gl/maps/tzDc1qu8wNw" target="_blank"><span class="white-text">Capital Reforma</span><br><span class="white-text">Avenida Paseo de la Reforma #250 Torre 1 Reforma #16, </span><br><span class="white-text">Piso 11 Col. Juárez, Delegación Cuauhtémoc, Ciudad de México. </span></a></footer>