ul {
    margin:0;
    padding:0;
}

li {
    margin: 0;
    display: inline-block;
    padding: 0;
}

vg-player {
    height:100%;
    width: auto;
}

.links {
    margin-top:30px;
}

.links a{
    padding:15px;
}

a {
    color:white;
    text-decoration: none;
    cursor:pointer;
    transition: all 0.3s
}

a.brainrace:hover {
    background:linear-gradient(to right, rgb(0,183,188), rgb(2,17,29));

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.fot:hover {
    background:rgb(0,183,188);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


footer {
    position: fixed;
    bottom: 10px;
    text-align: center;
    width:100%;
}