doctype html

a.white-text([routerLink]="['/accede']", *ngIf="!user", style="position:absolute; z-index:2000; top:15px; right:15px;")
    span Iniciar sesión
a.white-text((click)="logout()", *ngIf="user", style="position:absolute; z-index:2000; top:15px; right:15px;")
    span Salir

vg-player
    video#myVideo(autoplay, muted, loop)
        source(src='assets/video/blockchain.mp4', type='video/mp4')
        |         Your browser does not support HTML5 video.
.general-container([@fadeIn])
    .center-container
        h1.gotham-light R O C K T E C H
        .links 
            a.brainrace.brain-race-font([routerLink]="['/brain-race']") Brain Race
            //a([routerLink]="['/contacto']") Contacto
            a.fot.orbitron-medium([routerLink]="['/FOT']") Future of Things
            

footer
    a(href="https://goo.gl/maps/tzDc1qu8wNw", target="_blank")
        span.white-text Capital Reforma
        br
        span.white-text Avenida Paseo de la Reforma #250 Torre 1 Reforma #16, lPiso 11 Col. Juárez, Delegación Cuauhtémoc, Ciudad de México. 

