<!DOCTYPE html>
<loading-screen [loading]="loading"></loading-screen>
<navbar></navbar>
<div class="section background-blockchain"></div>
<div class="section" [@fadeIn]>
  <div class="container"><br>
    <stepper [activeStep]="0"></stepper><br><br>
    <form (submit)="form.valid &amp;&amp; privacy &amp;&amp; submit($event)" #form="ngForm" id="ngForm">
      <div class="row hidden-md hidden-lg">
        <div class="col-xs-12">
          <h1 class="primary-color-text">Completa el formulario de registro</h1>
          <p class="primary-color-text">
            ¡Cuéntanos acerca de tu idea! Llena los datos para completar tu registro y poder acceder a la primera etapa de la carrera.
            El nombre de tu neurona es la forma en que los llamaremos a ti y a tu equipo. 
            Vamos a necesitar que nos envíes un video de máximo 2 minutos en donde expliques de que trata tu proyecto y cuál es la problemática que resuelve.
            Una vez completado el registro, nos pondremos en contacto contigo para informarte si avanzaste a la segunda etapa de la carrera.
          </p>
          <p class="primary-color-text">¡Éxito!</p>
        </div>
      </div>
      <div class="row text-center"><img class="img-fluid" src="assets/img/brainrace.png" style="width:50%"></div><br>
      <div class="row row-eq-height background-primary-color">
        <div class="col-md-6 hidden-xs hidden-sm">
          <div class="col-xs-12"><br>
            <h1>Completa el formulario de registro</h1>
            <p>
              ¡Cuéntanos acerca de tu idea! Llena los datos para completar tu registro y poder acceder a la primera etapa de la carrera.
              El nombre de tu neurona es la forma en que los llamaremos a ti y a tu equipo. 
              Vamos a necesitar que nos envíes un video de máximo 2 minutos en donde expliques de que trata tu proyecto y cuál es la problemática que resuelve.
              Una vez completado el registro, nos pondremos en contacto contigo para informarte si avanzaste a la segunda etapa de la carrera.
            </p>
            <p>¡Éxito!</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 form-container background-white">
          <div class="input-error" *ngIf="errorMessage">{{errorMessage}}</div>
          <label class="gotham-light bold primary-color-text" for="project_name">Nombre de tu idea</label>
          <div class="input-group col-xs-12">
            <input class="form-control" id="project_name" type="text" name="project_name" aria-label="project-name" [(ngModel)]="project.name" #projectNameInput="ngModel" required>
            <label class="input-error" *ngIf="form.submitted &amp;&amp; projectNameInput.errors?.required">Este campo es obligatorio</label>
          </div><br>
          <label class="gotham-light bold primary-color-text" for="objective">¿Cuál es la problemática que resuelve?</label>
          <div class="input-group col-xs-12">
            <textarea class="form-control" id="objective" type="text" name="objective" aria-label="objective" #objectiveInput="ngModel" [(ngModel)]="project.objective" rows="5" required></textarea>
            <label class="input-error" *ngIf="form.submitted &amp;&amp; objectiveInput.errors?.required">Este campo es obligatorio</label>
          </div>
          <!--br-->
          <!--label.gotham-light.bold.primary-color-text(for="leader_name") Nombre completo del líder de la neurona-->
          <!--.input-group.col-xs-12
          input.form-control#leader_name(
              type='text', 
              name="leader_name", 
              aria-label='leader-name', 
              [(ngModel)]="user.name",
              #leaderNameInput="ngModel",
              required)
          label.input-error(*ngIf="form.submitted && leaderNameInput.errors?.required") Este campo es obligatorio
          
          --><br>
          <label class="gotham-light bold primary-color-text" for="email">Correo electrónico</label>
          <div class="input-group col-xs-12">
            <input class="form-control" id="email" type="email" name="email" aria-label="email" [(ngModel)]="user.email" #emailInput="ngModel" required email>
            <label class="input-error" *ngIf="form.submitted &amp;&amp; emailInput.errors?.required">Este campo es obligatorio</label>
            <label class="input-error" *ngIf="form.submitted &amp;&amp; emailInput.errors?.email">Debes introducir un email válido</label>
          </div><br>
          <label class="gotham-light bold primary-color-text" for="password">Contraseña</label>
          <div class="input-group col-xs-12">
            <input class="form-control" id="password" type="password" name="password" aria-label="password" #passwordInput="ngModel" [(ngModel)]="user.password" required>
            <label class="input-error" *ngIf="form.submitted &amp;&amp; passwordInput.errors?.required">Este campo es obligatorio</label>
          </div><br>
          <label class="gotham-light bold primary-color-text" for="confirm_password">Confirmar contraseña</label>
          <div class="input-group col-xs-12">
            <input class="form-control" id="confirm_password" type="password" name="confirm_password" aria-label="confirm_password" [(ngModel)]="user.confirm_password" #confirmPasswordInput="ngModel" [equalTo]="passwordInput" required>
            <label class="input-error" *ngIf="form.submitted &amp;&amp; confirmPasswordInput.errors?.required">Este campo es obligatorio</label>
            <label class="input-error" *ngIf="form.submitted &amp;&amp; confirmPasswordInput.errors?.equalTo">Las contraseñas no coinciden</label>
          </div><br>
          <label class="gotham-light bold primary-color-text" for="neuron_name">Nombre de tu neurona</label>
          <div class="input-group col-xs-12">
            <input class="form-control" id="neuron_name" type="text" name="neuron_name" aria-label="neuron-name" [(ngModel)]="neuron.name" #neuronNameInput="ngModel" required>
            <label class="input-error" *ngIf="form.submitted &amp;&amp; neuronNameInput.errors?.required">Este campo es obligatorio</label>
          </div><br>
          <label class="gotham-light bold primary-color-text">Integrante(s) de la neurona</label>
          <div *ngFor="let member of neuron.members;let index = index;">
            <div class="input-group col-xs-12">
              <input class="form-control" type="text" aria-label="member-name" [(ngModel)]="neuron.members[index].name" [name]="'member' + index" required><span class="input-group-addon item-button" (click)="removeMember(member)" *ngIf="neuron.members.length &gt; 1"><i class="fa fa-close"></i></span>
            </div>
            <div class="space"></div>
          </div>
          <div class="text-center"><a (click)="addMember()">Agregar integrante</a></div><br>
          <label class="gotham-light bold primary-color-text" for="url">URL del video</label>
          <div class="input-group col-xs-12">
            <input class="form-control" id="video" type="text" name="video" aria-label="video" #videoInput="ngModel" [(ngModel)]="project.video" required url>
            <label class="input-error" *ngIf="form.submitted &amp;&amp; videoInput.errors?.required">Este campo es obligatorio                        </label>
            <label class="input-error" *ngIf="form.submitted &amp;&amp; videoInput.errors?.url">Debes introducir una URL válida                        </label>
          </div><span class="light primary-color-text">
            Puedes subir tu video en el formato y plataforma que desees (Google Drive, WeTransfer, YouTube, etc.),  solamente necesitas proporcionarnos un enlace público para consultarlo. El máximo de tiempo por video es de 2 minutos.</span><br><br>
          <input id="privacy" type="checkbox" [(ngModel)]="privacy" name="privacy">
          <label class="primary-color-text" for="privacy">Acepto el <a [routerLink]="['/privacidad']" target="_blank">contrato de confidencialidad.</a></label><br>
          <label class="input-error" *ngIf="form.submitted &amp;&amp; !privacy" ngDefaultControl>Este campo es obligatorio</label>
          <button class="col-xs-12 btn btn-primary btn-large" type="submit">Registrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>