<!DOCTYPE html>
<div class="section background-blockchain"></div>
<div class="section">
  <div class="container">
    <form (submit)="form.valid &amp;&amp; submit()" #form>
      <div class="row">
        <h1 class="primary-color-text">Completa el formulario de registro</h1>
        <p class="primary-color-text">
          Cuéntanos acerca de tu idea y registra los datos que te solicitamos para poder entrar en la convocatoria, recuerda que en esta primera etapa solo requerimos que nos cuentes algo sobre tu genial idea, esta será evaluada para saber si pasas a la siguiente ronda, en donde tendrás que mandarnos una demostración de tu proyecto.</p>
      </div>
      <div class="row"> 
        <label class="gotham-light primary-color-text" for="idea">Nombre de tu idea</label>
        <div class="input-group col-xs-12">
          <input class="form-control" id="idea" type="text" name="idea" aria-label="idea-name" required>
        </div>
        <label class="gotham-light primary-color-text" for="objective">¿Qué problema resuelve?</label>
        <div class="input-group col-xs-12">
          <textarea class="form-control" id="objective" type="text" name="objective" aria-label="objective" required></textarea>
        </div>
        <label class="gotham-light primary-color-text" for="idea">Nombre de tu idea</label>
        <div class="input-group col-xs-12">
          <input class="form-control" id="idea" type="text" name="idea" aria-label="idea-name" required>
        </div>
        <label class="gotham-light primary-color-text" for="idea">Nombre de tu idea</label>
        <div class="input-group col-xs-12">
          <input class="form-control" id="idea" type="text" name="idea" aria-label="idea-name" required>
        </div>
        <label class="gotham-light primary-color-text" for="idea">Nombre de tu idea</label>
        <div class="input-group col-xs-12">
          <input class="form-control" id="idea" type="text" name="idea" aria-label="idea-name" required>
        </div>
      </div>
    </form>
  </div>
</div>